
.carousel-container {
    width: 84%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 1190px;
}

.carousel-wrapper {
    flex: 1;
    overflow: hidden;
    transition: transform 300ms ease-out;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 20px
}

.carousel img {
    width: 25%;
    transition: transform 300ms ease-out;
}

button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 22px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prevBtn {
    order: 0;
    margin-right: 10px;
}

#nextBtn {
    order: 3;
    margin-left: 10px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.20);
    margin: 0 5px;
    cursor: pointer;
}

.active-dot {
    background-color: #FFF;
}