* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 3.5em;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

h5 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.5em;
    font-weight: 500;
}

dl {
    margin: 0;
}

address {
    font-style: normal;
}

body > nav {
    border-block-end: 2px solid #1e1f27;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-block-end: 1em;
    color: #1e1f27;
    margin-inline: 7em;
}

body > nav ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    align-items: center;
    gap: 2em;
}

body > nav li {
    align-items: center;
    display: flex;
    font-size: 1.25em;
    gap: 0.5em;
}

.nav-logo {
    width: 3em;
    overflow: hidden;
}

.btn-rounded {
    display: flex;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: none;
    font-weight: 700;
    padding: 0.8em 1.6em;
    font-size: 1em;
    max-height: 3em;
    cursor: pointer;
}

.donate-button {
    background-color: #ff3d9a;
    color: white;
}

.donate-button:hover {
    background-color: #c03076;
}

/* Main Content */

.main-content h3 {
    margin-block-start: 1.5em;
}

.main-content {
    display: grid;
    grid-template-columns: [main-content-info] 1fr [main-content-img] 1fr;
    grid-column-gap: 2.5em;
    padding-block-start: 5em;
    padding-block-end: 7.5em;
    color: #1e1f27;
    margin-inline: 7em;
    justify-items: end;
}

.main-content-buttons, .adopt-block-buttons {
    display: flex;
    gap: 2em;
    margin-block-start: 1.5em;
}

.main-content-buttons > .donate-button {
    font-size: 1.25em;
}

.adopt-button {
    border: 2px solid #1E1F27;
    color: #1E1F27;
    background-color: #f5f5f5;
    font-size: 1.25em;
}

.adopt-button:hover {
    background-color: #d0d0d0;
}

.main-content img {
    max-inline-size: 100%;
}

.img-dog-mobile {
    display: none;
}

/* Stats Block */

.stats-block, .donations-block, .difference-block, .adopt-block, .adoptables-page {
    background-color: #1E1F27;
    color: white;
}

.stats-block-div, .donations-block-div {
    margin-inline: 7em;
    padding-block: 5em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.stats-block h2, .adoption-block h2 {
    display: flex;
    text-align: center;
    margin-block-end: 1.5em;
}

.stats-block-dl {
    display: grid;
    grid-template-areas:    "animals-number raised-number tails-number"
                            "animals-text raised-text tails-text";
    grid-column-gap: 6em;
    justify-items: center;
    grid-row-gap: 1em;
    margin-block-end: 5em;
}

.stats-block-dl dt {
    color: #F8DB46;
    font-size: 4em;
    font-weight: 700;
}

.stats-block-dl dd {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

.animals-number {
    grid-area: animals-number;
}

.animals-text {
    grid-area: animals-text;
}

.raised-number {
    grid-area: raised-number;
}

.raised-text {
    grid-area: raised-text;
}

.tails-number {
    grid-area: tails-number;
}

.tails-text {
    grid-area: tails-text;
}

.carousel {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.gallery {
    overflow-x: auto;
}

.carousel-images {
    display: flex;
    flex-flow: nowrap;
    gap: 1.5em;
}

.arrow-left, .arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    color: #1E1F27;
    border-radius: 21px;
}

.arrow-left {
    margin-inline-end: 2em;
}

.arrow-right {
    margin-inline-start: 2em;
}

.gallery-item {

}

.gallery::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Donations Block */

.donations-block-div {
    margin-inline: 7em;
    padding-block: 5em 7.5em;
    gap: 6em;
}

.donations-block h2 {
    display: flex;
    text-align: center;
}

.donations-block-grid{
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.donations-block-items {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    border-radius: 24px;
    border: 2px solid white;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-inline-size: 100%;
}

.donations-block-items div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    width: 100%;
}

.donations-block-items dt {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
}

.donations-block-items dd {
    margin: 0;
    font-size: 1.5em;
    text-align: start;
    color: rgba(255, 255, 255, 0.80);
    line-height: 160%;
}

.donations-block-div > .carousel-container, .donations-carousel-dots {
    display: none;
}

/* Adoption Block */

.adoption-block {
    padding-block-start: 5em;
    padding-block-end: 7.5em;
    margin-inline: 7em;
}

.adoption-block h2 {
    justify-content: center;
    padding: 0;
    margin-block-end: 0.8em;
}

.adoption-block-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5em;
    color: #1e1f27;
}

.adoption-block-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.adoption-block-div ul {
    margin-block-start: 1.25em;
    margin-block-end: 2em;
    padding: 0;
}

.adoption-block-div li {
    font-size: 1.5em;
    line-height: 160%; /* 38.4px */
}

.adoption-block-btn {
    color: white;
    background-color: #1E1F27;
    font-size: 1.25em;
    border: 2px solid #1E1F27;
}

.adoption-block-btn:hover {
    background-color: white;
    color: #1E1F27;
    cursor: pointer;
}

/* Difference block */

.difference-block-div {
    margin-inline: 7em;
    padding-block: 5em 7.5em;
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.difference-block-first-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: "left-heart middle-text right-heart";
    grid-column-gap: 2.5em;
    grid-row-gap: 3.8em;
    justify-items: center;
    align-items: center;
}

.difference-block-first-grid-h2 {
    text-align: center;
    grid-area: middle-text;
}

.difference-block-first-grid-first-img {
    grid-area: left-heart;
}

.difference-block-first-grid-second-img {
    grid-area: right-heart;
}

.difference-block-second-grid {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.difference-block-second-grid section {
    display: flex;
    flex-direction: column;
    padding: 3.75em 1.34em;
    border-radius: 24px;
    border: 2px solid white;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 3.75em;
    max-inline-size: 100%;
}

.difference-block-second-grid section div {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.difference-block-second-grid section p {
    margin: 0;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.80);
}

.difference-block-second-grid section button {
    font-size: 1.5em;
    padding: 0.8em 0;
}

.difference-block-button-adoptables, .difference-block-button-involved,
.difference-block-button-monthly, .difference-block-button-learn {
    border-radius: 1em;
    font-size: 1.25em;
    width: 100%;
}

.difference-block-button-adoptables {
    background-color: #04C27F;
}

.difference-block-button-involved {
    background-color: #F1D06E;
}

.difference-block-button-monthly {
    background-color: #5758F1;
    color: white;
}

.difference-block-button-learn {
    background-color: #FF3D9A;
    color: white;
}

/* Adopt Block */

.adopt-block-div {
    margin-inline: 4em;
    padding-block-start: 5em;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:    "adopt-block-fish adopt-block-h2 adopt-block-bone"
                            "adopt-block-cat-img adopt-block-p adopt-block-dog-img"
                            "adopt-block-cat-img adopt-block-buttons adopt-block-dog-img"
                            "adopt-block-cat-img adopt-block-buttons adopt-block-dog-img";
    justify-items: center;
    align-items: center;
}

.adopt-block-h2 {
    grid-area: adopt-block-h2;
    line-height: 120%;
    letter-spacing: -1.12px;
}

.adopt-block-h2 b {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    color: #F8DB46;
}

.adopt-block-p {
    grid-area: adopt-block-p;
    font-size: 2.5em;
    margin: 0;
    align-self: self-end;
}

.adopt-block-fish {
    grid-area: adopt-block-fish;
    justify-self: self-end;
    padding-inline-end: 3em;
}

.adopt-block-bone {
    grid-area: adopt-block-bone;
    justify-self: self-start;
    padding-inline-start: 3em;
}

.adopt-block-cat-img {
    grid-area: adopt-block-cat-img;
    align-self: flex-end;
}

.adopt-block-dog-img {
    grid-area: adopt-block-dog-img;
    align-self: flex-end;
}

.adopt-block-cat-fish-mobile, .adopt-block-dog-bone-mobile {
    display: none;
}

.adopt-block-buttons {
    align-self: center;
}

.adopt-block-button-apply, .adopt-block-button-view {
    font-size: 1.5em;
}

.adopt-block-button-view:hover {
    background-color: #1e1f27;
    color: #F8DB46;
}

.adopt-block-button-view {
    background-color: #F8DB46;
    color: #1E1F27;
    font-size: 1.5em;
    border: 2px solid #F8DB46;
}

.adopt-block-button-apply {
    background-color: #1E1F27;
    color: white;
    border: 2px solid white;
}

.adopt-block-button-apply:hover {
    background-color: white;
    color: #1e1f27;
    cursor: pointer;
}

/* Subscription Block */

.subscription-block {
    background-color: #5758F1;
    color: white;
}

.subscription-block-div {
    margin-inline: 7em;
    padding-block: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscription-block-div p {
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    font-size: 1.25em;
    margin-block: 0.75em 3em;
    max-width: 38em;
    text-align: center;
}

.subscription-block-div input::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
}

.subscription-block-div form {
    display: flex;
    gap: 1.5em;
    width: 100%;
    justify-content: center;
}

.subscription-block-div input {
    border-radius: 32px;
    border: 2px solid white;
    background-color: #5758F1;
    color: white;
    font-weight: 400;
    padding-inline-start: 1em;
    font-size: 1.25em;
    width: 28%;
}

.subscription-block-div input:focus-visible {
    outline: white;
}
.subscription-block-div button {
    font-size: 1.25em;
    border: 2px solid white;
}

.subscription-block-div button:hover {
    background-color: #5758F1;
    color: white;
    cursor: pointer;
}

/* Footer */

footer {
    padding-block: 5em;
    margin-inline: 7em;

}

footer p {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 700;
}

footer nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    margin-block-end: 4em;
}

.footer-logo {
    display: flex;
    gap: 1.25em;
    flex-direction: column;
}

.footer-logo-img {
    max-width: 30%;
}

.footer-logo-text-heart-icon {
    display: flex;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    row-gap: 3em;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 160%;
    margin-block: 1em;
}

footer li:first-child {
    margin-block-start: 0;
}

address {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

address div {
    display: flex;
    align-items: center;
}

.address-street img, .address-phone img, .address-mail img {
   padding-inline-end: 0.75em;
}

.address-street {
    align-items: flex-start;
}

.address-street img {
    padding-block-start: 0.3em;
}

.social-media-icons {
    gap: 1.25em;
    padding: 0;
}

.footer-message {
    border-block-start: 2px solid #1e1f27;
    padding-block-start: 2em;
    text-align: center;
}

.footer-message b {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    color: #FF3D9A;
}

/* Dialog */

dialog {
    padding: 2em;
    border: none;
    border-radius: 2em;
    max-width: 370px;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog p {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 133.333%;
    margin: 0;
    letter-spacing: -0.36px;
    margin-block-end: 2.5em;
}

dialog form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    align-items: center;
}

dialog label {
    color: #FF3D9A;
    font-weight: 700;
    font-size: 0.75em;
    margin-block-end: 0.75em;
}

dialog b {
    color: #3F96FC;
    font-weight: 700;
    font-size: 1em;
}

dialog input, dialog select {
    border-radius: 8px;
    border: 1px solid #3F96FC;
    align-self: stretch;
    padding: 1em;
    font-weight: 500;
}

dialog input:focus, dialog select:focus {
    outline-color: #937AFF;
}

dialog select {
    width: 33%;
    background: url(../assets/expand-more.svg) no-repeat center right #FFF;
    appearance: none;
}

dialog div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.birthday div {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.dialog-buttons {
    display: flex;
    gap: 0.75em;
}

.dialog-buttons > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.75em;
}

.dialog-buttons b {
    color: #FF3D9A;
}

.dialog-buttons label {
    color: #1E1F27;
    margin: 0;
    gap: 0.75em;
}

.dialog-button {
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    display: flex;
    padding: 1em 1.5em;
    font-weight: 700;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.adopt-dialog-button {
    background-color: #04C27F;
}

.adopt-dialog-button:hover {
    background-color: #039f6a;
}

.cancel-dialog-button {
    background-color: #37383F;
    color: #f5f5f5;
}

.cancel-dialog-button:hover {
    background-color: #25262a;
}

.donate-modal-h3 {
    text-align: center;
    margin-block-end: 1em;
}

#donate-modal button {
    font-size: 1.25em;
}

/* Adoptables Page */

.adoptables-page-nav, .success-page-nav {
    border: none;
}

.adoptables-page-div {
    display: flex;
    flex-direction: column;
    margin-inline: 7em;
    padding-block: 5em;
    gap: 4em;
    align-items: center;
}

.adoptables-page-a {
    width: 12%;
    font-size: 1.25em;
}

.adoptables-page-grid {
    display: grid;
    gap: 3.75em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.adoptables-page-grid img {
    max-inline-size: 100%;
}

.adoptables-page figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.adoptables-page figcaption {
    gap: 0.75em;
    display: flex;
    flex-direction: column;
}

.adoptables-page figure h4 {
    text-align: center;
}

.adoptables-page figure button {
    font-size: 1.25em;
    width: 100%;
}

/* Success Page */

.success-page {
    padding-block-start: 5em;
    padding-block-end: 7.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #04c27f;
    color: white;
    gap: 5em;
}

.success-page button {
    width: 12%;
    font-size: 1.25em;
    margin-block-end: 3em;
}

.success-page-div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* Modal */

#adopt-modal input[type="radio"] {
    appearance: none;
    background-color: #37383F;
    border-radius: 99px;
    border: 0;
    align-self: stretch;
    padding: 4px;
    font-weight: 500;
    width: 1.5em;
    height: 1.5em;
    margin-block-start: 0;
}

#adopt-modal input[type="radio"]:checked {
    background-color: #04C27F;
    background-image: url("../assets/check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.dialog-radio-button-adopt-modal {
    align-items: center;
}

.dialog-radio-button-adopt-modal > div {
    display: flex;
    align-items: center;
}

.donate-modal-radio-buttons > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.donate-modal-radio-button {
    display: flex;
    background-color: white;
    padding: 0.5em 0.7em;
    font-size: 16px;
    border: 2px solid #3F96FC;
    border-radius: 4px;
    width: 33%;
    color: #37383F;
    font-weight: 500;
    align-items: center;
}

.donate-modal-radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.donate-modal-radio-button input[type="radio"] {
    appearance: none;
    background-color: #37383F;
    border-radius: 99px;
    border: 0;
    padding: 4px;
    font-weight: 500;
    width: 1.5em;
    height: 1.5em;
    margin-block-start: 0;
    align-self: center;
}

.donate-modal-radio-button input[type="radio"]:checked {
    background-color:#FF3D9A;
    background-image: url("../assets/check.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.donate-modal-radio-button label {
    color: #37383F;
}

.donate-modal-radio-button-label {
    margin: 0;
}

/* Carousel */

.carousel-container {
    width: 96%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 1190px;
}

.carousel-wrapper {
    flex: 1;
    overflow: hidden;
    transition: transform 300ms ease-out;
}

.carousel, .donations-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 20px
}

.carousel-img, .donations-carousel-img {
    width: 25%;
    transition: transform 300ms ease-out;
}

.carousel-container button, .donations-carousel-container button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 22px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#prevBtn, #prevBtnDonations {
    order: 0;
    margin-right: 10px;
}

#nextBtn, #nextBtnDonations {
    order: 3;
    margin-left: 10px;
}

.carousel-dots, .donations-carousel-dots {
    display: flex;
    justify-content: center;
    margin-block-start: 3em;
    gap: 1em;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.20);
    cursor: pointer;
}

.active-dot {
    background-color: #FFF;
}

/* Mobile */

@media screen and (max-width: 1500px) {
    * {
        font-size: 13px;
    }

}

@media screen and (max-width: 1280px) {
    /* nav */

    * {
        font-size: 12px;
    }

    body > nav {
        margin-inline: 1em;
        padding-block: 2.5em;
        flex-direction: column;
        gap: 1em;
    }

    body > nav ul {
        margin: 0;
        gap: 0.5em 2.1em;
    }

    body > nav ul:first-child {
        flex-wrap: wrap;
        gap: 0.5em 2.1em;
        justify-content: center;
    }

    body > nav ul li:first-child {
        width: 100%;
        justify-content: center;
    }

    /* Main Content */

    .main-content {
        margin-inline: 1em;
        padding-block: 2.5em;
        display: flex;
        flex-direction: column;
        gap: 2.5em;
    }

    .main-content-div {
        display: flex;
        flex-direction: column;
    }

    .main-content h1 {
        font-size: 3.5em;
        line-height: 120%; /* 57.6px */
        letter-spacing: -0.96px;
        margin-block-end: 0.5em;
    }

    .main-content p {
        font-size: 1.65em;;
        margin: 0;
    }

    .main-content h4 {
        text-align: center;
        line-height: 160%;
        letter-spacing: -0.64px;
        font-size: 2.5em;
    }

    .main-content-buttons {
        flex-direction: column;
        align-items: center;
    }

    .main-content-desktop-img {
        display: none;
    }

    .img-dog-mobile {
        display: flex;
        width: 80%;
        align-self: center;
        margin-block: 4em;
    }

    /* Stats Block */

    .stats-block-div {
        margin-inline: 1em;
    }

    .stats-block h2 {
        line-height: 120%;
        letter-spacing: -0.96px;
    }

    .stats-block-dl {
        grid-template-areas:    "animals-number"
                                "animals-text"
                                "raised-number"
                                "raised-text"
                                "tails-number"
                                "tails-text";
        grid-row-gap: 0;
    }

    .stats-block-dl dd {
        text-align: center;
        margin-block-end: 1.75em;
    }

    /* Donations Block */

    .donations-block-div {
        margin-inline: 1em;
    }

    .donations-block-grid {
        display: none;
    }

    /* Adoption Block */

    .adoption-block {
        margin-inline: 1em;
    }

    .adoption-block-div {
        grid-template-columns: 1fr;
        grid-template-areas:    "adotion-block-div"
                                "adoption-block-img";
        grid-row-gap: 5em;
    }

    .adoption-block-div img {
        grid-area: adoption-block-img;
        max-inline-size: 100%;
    }

    .adoption-block-div > div {
        grid-area: adotion-block-div;
        margin-inline: 3em;
    }

    .adoption-block-div ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .adoption-block-btn {
        align-self: center;
    }

    /* Difference Block */

    .difference-block-div {
        margin-inline: 1em;
    }

    .difference-block-first-grid {
        grid-column-gap: 0;
    }

    .difference-block-first-grid-first-img, .difference-block-first-grid-second-img {
        width: 100%;
    }

    .difference-block-first-grid-h2 {
        font-size: 2.2em;
    }

    .difference-block-second-grid {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-inline: 4.8em;
    }

    /* Adopt Block */

    .adopt-block-div {
        margin-inline: 0;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-areas:
        "adopt-block-h2 adopt-block-h2 adopt-block-h2"
        "adopt-block-p adopt-block-p adopt-block-p"
        "adopt-block-cat-fish adopt-block-buttons adopt-block-dog-bone"
        "adopt-block-cat-fish adopt-block-buttons adopt-block-dog-bone";
    }

    .adopt-block-h2 {
        font-size: 3.5em;
    }

    .adopt-block-h2, .adopt-block-p {
        text-align: center;
    }

    .adopt-block-cat-img, .adopt-block-dog-img, .adopt-block-fish, .adopt-block-bone {
        display: none;
    }

    .adopt-block-cat-fish-mobile {
        display: flex;
        grid-area: adopt-block-cat-fish;
    }

    .adopt-block-dog-bone-mobile {
        display: flex;
        grid-area: adopt-block-dog-bone;
    }

    .adopt-block-buttons {
        flex-direction: column;
        align-items: center;
        align-self: start;
    }

    .adopt-block-button-view {
        font-size: 1.2em;
        padding: 0.6em 0.5em;
    }

    .adopt-block-button-apply {
        font-size: 1.2em;
        padding: 1em 1em;
    }

    /* Subscription Block */

    .subscription-block-div {
        margin-inline: 1em;
    }

    .subscription-block h2 {
        margin-inline: 0.5em;
        text-align: center;
    }

    .subscription-block-div form {
        flex-direction: column;
        align-items: center;
    }

    .subscription-block-div input {
        width: 90%;
        padding-block: 0.9em;
    }

    .subscription-block-div button {
        width: 40%;
    }

    /* Footer */

    footer {
        margin-inline: 1em;
    }

    footer nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "logo logo"
                            "about-1 about-2"
                            "contact contact";
        grid-row-gap: 3.5em;
        grid-column-gap: 0;
        margin: 0;
    }

    .footer-logo {
        grid-area: logo;
        align-items: center;
    }

    .footer-about-1 {
        grid-area: about-1;
    }

    .footer-about-2 {
        grid-area: about-2;
    }

    .footer-contact {
        grid-area: contact;
    }

    .social-media-icons {
        justify-content: center;
    }

    .footer-message {
        margin-inline: 1em;
    }

    /* Carousel */

    .carousel-container {
        max-width: 352px
    }

    .carousel {
        gap: 10px;
    }

    .donations-block-div > .carousel-container {
        display: flex;
    }

    .donations-carousel {
        gap: 40px;
    }

    .donations-carousel div {
        max-width: 150px;
    }

    .carousel-img, .donations-carousel-img {
        width: 100%;
    }

    .donations-carousel .donations-block-items {
        width: 170px;
    }

    .donations-carousel img {
        width: 60px
    }

    .donations-block-items dt {
        font-size: 1.75em;
    }

    .donations-block-items dd {
        font-size: 1.25em;
    }

    /* Adoptables Page */

    .adoptables-page-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .adoptables-page-a {
        width: 60%;
    }

    .adoptables-page-div {
        text-align: center;
    }

    /* Success Page */

    .success-page-div h2 {
        text-align: center;
    }
}